<!DOCTYPE html>
<html>
  <head>
    <title>Knock-Knock</title>
    <link rel="stylesheet" href="{{stylesheet}}">
  </head>
  <body>
    <h1>Quote</h1>

    <div class="quote">
      <!--
      <span class="teller">Knock-Knock!</span><br/>
      <span class="tellee">Who's there?</span><br/>
      <span class="teller">{{quote.whos_there}}</span><br/>
      <span class="tellee">{{quote.whos_there}} who?</span><br/>
      <span class="teller">{{quote.answer_who}}</span>
      -->
      
      <span class="teller">"You cannot have bravery and courage without fear"</span>
    </div>
    
  </body>
</html>
